body {
    background: rgb(199,146,249);
    background: linear-gradient(90deg, rgba(199,146,249,1) 0%, rgba(225,200,247,1) 48%, rgba(199,146,249,1) 100%);
}

header {
    text-align: center;
}

.btn {
    border: 1px solid #000000;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    padding: 5px;
}

.btn:hover {
    color: #ffffff;
    background-color: #555555;
}

#logintitle {
    font-size: 20px;
    margin: 10px;
}

#box {
    margin: auto;
    margin-top: 100px;
    width: 300px;
    padding: 50px;
    border: #000000 1px solid;
    background-color: #ffffff;
    position: relative;
}

#text {
    margin: 10px;
    width: 100%;
    padding: 5px;
}

#loginbtn {
    border: 1px solid #000000;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    padding: 5px;
    margin: 10px;
}

#loginbtn:hover {
    color: #ffffff;
    background-color: #555555;
}